
// Body
$body-bg: #f2f2f2;

// Typography
$font-family-sans-serif: "Kanit", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors

$soc-orange : #ff6500;
$soc-gray : #909090;

//footer
.footer-bg-color{
    background-color: #d8d8d8;
}

.text-footer {
    font-size: 0.9rem;
  color: #6c757d !important;
}

a.text-footer:hover,
a.text-footer:focus {
  color: #545b62 !important;
}
$colors: (
  "soc-orange" : $soc-orange,
  "soc-gray" : $soc-gray 
) !default;

//Soc link
//link orange
$link : #fa5400 !important;;
$hover : #fa6900 !important;;
$forcus :  #fa6900 !important;;
//link dark gray
$link2 : #595959 !important;;
$hover2 : #454545 !important;;
$forcus2 :  #454545 !important;;

.soc-link1 {
  color:$link;
}
a.soc-link1{  
  &:hover{
    color:$hover;
    text-decoration: none;
  }
  &:focus{
    color:$forcus;
    text-decoration: none;
  }
}

.soc-link2 {
  color:$link2;
}
a.soc-link2{  
  &:hover{
    color:$hover2;
    text-decoration: none;
  }
  &:focus{
    color:$forcus2;
    text-decoration: none;
  }
}
//Slide Major
.card {
  margin: 0 auto;
}
.card .carousel-item {
  height: 200px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: grey;
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #666;
}

//News
.section-01{float: left; width: 100%;  border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5;background-color: #ffffff;}
.section-01 .heading-large {border-bottom: 2px solid #fa6900; color: #fa6900; float: left; width: 100%; padding:0 0 6px; margin:0 0 18px; text-align: left;}
.section-01 .heading-large::before, .section-01 .heading-large::after{background: transparent;}
.section-01 .heading-small {border-bottom: 2px solid #fa6900; color: #fa6900; float: left; margin: 7px 0 0; width: 100%; padding-bottom: 10px; font-size: 18px }
.section-01 .title-small {margin-bottom: 5px; font-size:17px }
.section-01 .news-block{border-bottom: 1px dashed #000; padding-bottom: 30px; border: none;}
.section-01 aside > .news-block{border-bottom: 1px dashed #000; padding-bottom: 19px;}
.section-01 aside > .news-block:last-child{border-bottom: none; margin-bottom: 20px}
.section-01 .card{border: none;}
.section-01 .card-block{padding: 10px 0;}
.section-01 .video-sec {float: left; margin-top: 30px; width: 100%;}
.section-01 .video-block {float: left; margin-top: 20px; width: 100%;}

.title-small {
    color: #141517;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 6px 0 0;
}

.side-bar .nav-tabs{border-bottom:none;}
.side-bar .nav-tabs .nav-link {color: #aeaeae; text-transform: uppercase; border: none;}
.side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover{border-bottom:2px solid #fa6900;  text-transform: uppercase; color: #222}
.sidebar-tabing .media{margin-top: 20px}
.sidebar-tabing img{width: 120px;height: 100px;}
.sidebar-tabing .title-small {line-height: 23px; margin-top: 5px; font-size: 18px}

//info Socil Block
.bg-soc-info {
    background-color: #00BAB6;
}
