/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
.parallax1 {
    /* The image used */
    background-image: url("https://soc2019v1.soc/storage/parallax/plx_01.png");

    /* Set a specific height *//*
    height: 600px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("https://soc2019v1.soc/storage/parallax/parallax_2.png");

    /* Set a specific height */
    /*
    height: 600px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
#chart-container {
    font-family: "Sarabun",
    sans-serif;
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    height: 740px;
    width: calc(100% - 24px);
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}
 */
